// COLORS
$color-primary: #55c57a; 
$color-primary-light: #7ed56f; 
$color-primary-dark: #28b485; 

$color-grey-97: #f7f7f7; 
$color-shade-gray: #777; 

$color-white: #fff; 
$color-black: #000; 


// FONT
$default-font-size: 1.6rem; 


// GRID
$grid-width: 114rem; 
$g-vertical: 8rem; 
$g-vertical-small: 6rem; 
$g-horizontal: 6rem; 